:root {
  --snappit-product_hex: #6991f8;
  --snappit-product_hex: #7190f1;
  --snappit-product_hex: #778fea;
  --snappit-product_hex: #7c8ee3;
  --snappit-product_hex: #7f8ddd;
  --snappit-product_hex: #828cd7;
  --snappit-product_hex: #848cd2;
}
